@{
    ViewData["Title"] = "welcome to weblog";
}

<h1 style="color:green;">@ViewData["Title"]</h1>
<p> you are successfuly registered in the website happy your serfing! :)</p>
<hr />
<a asp-controller="Home" asp-action="Index">
    Back To <b>Home</b>
</a>
<br />
<a asp-controller="Home" asp-action="Index">
    Go To <b>Dashboard</b>
</a>
<br />
<a asp-controller="Home" asp-action="Index">
    <b>Logout</b>
</a>