@model ViewUser;

@{
    ViewData["Title"] = "Registration Form";
}
@section Styles{
    <link rel="stylesheet" href="~/css/stylesheet1.css"/>
}
<div class="text-center container row">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h3>you can register our membership easily and join us right now</h3>
    <form class="input-group-text row" enctype="multipart/form-data" asp-controller="User" asp-action="Register" method="post">
    <div class="row">
        <div class="section-group input-group-sm container col-md-3"></div>
        <div class="section-group input-group-sm row">
            <img asp-for="Image" style="height:100px; width:100px; border:none; border-radius:4%; background-color:white;"/>
            <input class="row" type="file" asp-for="Image" />
            <label asp-for="Image" class="border-primary">Picture</label>    
        </div>
        <div class="section-group input-group-sm row">
                <label  asp-for="Password" class="col-md-3">Password</label>    
                <input asp-for="Password" class="col-md-9"/>
            </div>
            <div class="section-group input-group-sm row">
                <label  asp-for="Passwordconfirmation" class="col-md-3">Password repeatation</label>    
                <input asp-for="Passwordconfirmation" class="col-md-9"/>
            </div>
        <div class="row col-md-9">
            <div class="section-group input-group-sm row">
                <label  asp-for="FirstName" class="col-md-3">FirstName</label>    
                <input asp-for="FirstName" class="col-md-9"/>
            </div>
            <div class="section-group input-group-sm row">
                <label  asp-for="LastName" class="col-md-3">LastName</label>    
                <input asp-for="LastName" class="col-md-9"/>
            </div>
            <div class="section-group input-group-sm row">
                <label asp-for="username" class="border-primary" class="col-md-4">Username</label>    
                <input asp-for="username" class="text-primary" class="col-md-10"></input>
            </div>
            <div class="section-group input-group-sm row">
                <label asp-for="email" class="border-primary" class="col-md-4">Email</label>    
                <input asp-for="email" class="text-primary" class="col-md-10"></input>
            </div>
            <div class="section-group input-group-sm row">
                <label asp-for="phonenumber" class="border-primary" class="col-md-4">Phonnumber</label>    
                <input asp-for="phonenumber" class="text-primary" class="col-md-10"></input>
            </div>
            <div class="section-group input-group-sm row">
                <label asp-for="bio" class="border-primary" class="col-md-4">Bio</label>    
                <textarea asp-for="bio" class="text-primary" class="col-md-10"></textarea>
            </div>
            <select asp-for="Role">
                    @foreach(var i in (IQueryable<Applicationrole>)(ViewData["Roles"]))
                    {
                        <option>
                            @i.Name
                        </option>
                    }
                </select>
        
        </div>
        <input type="radio"  value="I am agree with your <a>Privacy Policy</a>"/>
        <h3 style="color:red;"> @Html.ValidationSummary(false)</h3>
            <input class="col-md-8" type="submit" value="submit"/>
    </div>
    </form>
    <small><a asp-controller="Home" asp-action="Privacy">get informed our privacy policy</a></small>
</div>